body,html{
    margin:0;
    padding:0;
}
body{
}
*{
    box-sizing:border-box;
}
header{
    background-color: #eee;
    background-image: 
    -webkit-linear-gradient(rgba(50,50,50,0.25), rgba(120,120,120,0.25));
}
ol{
    list-style: none;
    counter-reset: num;
}
ol li:before{
    content: counters(num, '.') '. ';
    counter-increment: num;
}
ul.menu{
    display:table;
    margin: 0;
    padding: 8px 0 4px;
}
ul.menu ul{
    background-color:white;
    padding: 0;    
}
ul.menu li{
    display:table-cell;
}
ul.menu li >ul{
    box-shadow:1px 2px 10px rgba(0,0,0,0.2);
    display:none;
}
ul.menu li >ul{
    display:none;
}
ul.menu li >ul li{
    display: block;
}
ul.menu li >ul:hover{
    display: table;
}
ul.menu li:hover>ul{
    display: table;
    padding-bottom: 10px;
    position: absolute;
    margin-left: 12px;
}
ul.menu li a{
    font-family: Verdana, Tahoma, serif;
    font-size: 0.85rem;
    display:block;
    padding:4px 12px;
}
main, footer{
    padding: 0 12px;
}